<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/style.css">
<link rel="stylesheet" type="text/css" href="../../static/sidebar.css">

</head>
<body>
 
<div class="sidenav">
    <a href="{% url 'clubsList' %}">Secys</a>
    <a href="{% url 'superindent' %}">Superindent</a>
    {% if clubs_list %}
    {% for club in clubs_list %}
   
  <button class="dropdown-btn">{{club.name}} 
    <i class="fa fa-caret-down"></i>
    </button>
   

  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
    <a href="{% url 'IssueList' club.pk %}">Issue History</a>
  </div>
  {% endfor %}   
  {% endif %}
 
</div>

<div class="main">
    <a href="{% url 'addgeneral' %}" class="myButton">Add Equipments</a>
    <h1>
        General Equipments list
    </h1>
    {% if equipments %}
    <table style="width:100%" class="styled-table">
      <thead>
        <tr>
            <th>sno</th>
            <th>Name</th>
            <th>Specificaton</th>
            <th>Total Quantity</th>
            <th>Available Quantity</th>
            <th>Delete</th>
            <th>Issue</th>
            <th>Return</th>
           
        </tr>
      </thead>
      <tbody>
      {% for equi in equipments %}
      <tr>
        <td></td>
        <td>{{equi.name}}</td>
        <td>{{equi.specification}}</td>
        <td>{{equi.total_quantity}}</td>
        <td>{{equi.available_quantity}}</td>
        <td><a href="#"><button class="redb" >delete</button></a></td>
        <td><a href="{% url 'generalissue' equi.pk %}"><button class="grayb">Issue</button></a></td>
        <td><a href="#"><button class="grayb">Return</button></td>
      </tr>
      {% endfor %}
      </tbody>
</table>
  {% else %}
    <p>There are no Equipments </p>
  {% endif %} 

</div>

<script src="../../static/sidebar.js">
</script>

</body>
</html> 

