<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/style.css">
<link rel="stylesheet" type="text/css" href="../../static/sidebar.css">

</head>

<body>
 
<div class="sidenav">
    {% if gensec or super %}
    <a href="{% url 'clubsList' %}">Secys</a>
    {% endif %}

    {%if super%}
    <a href="{% url 'superindent' 0 %}">Pending Requests</a>
    {% endif %}
    {% if clubs_list %}
    {% for club in clubs_list %}
   
  <button class="dropdown-btn">{{club.name}} 
    <i class="fa fa-caret-down"></i>
    </button>
   

  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
    {% if  isre%}
    <a href="{% url 'IssueList' club.pk %}">Issue History</a>
    {%endif%}

  </div>
  {% endfor %}   
  {% endif %}

    {% if rem %}
    {% for club in rem %}

  <button class="dropdown-btn">{{club.name}}
    <i class="fa fa-caret-down"></i>
    </button>


  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
  </div>
  {% endfor %}
  {% endif %}

   <button class="dropdown-btn">General items 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
     <a href="{% url 'general' %}">Register stock</a>
     {% if isre%}
    <a href="{% url 'generalIssueList'   %}">Issue History</a>
    {% endif%}
  </div>
  {% if gensec %}
  <a href="{% url 'gensecissuelist' %}"> My_issues</a>
  {% endif %}
  {% if  super  %}
    <a href="{% url 'total_list' %}"> Total Issues </a> 
    {% endif %}
  <a href="{% url 'django_auth_adfs:logout' %}">Logout</a>
  
</div>

<div class="main">

    
{% if super %}
  <div class="header"><h1>General Equipments list</h1>
    <span>
    <a href="{% url 'addgeneral' %}" class="myButton">Add Equipments</a>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="search here..." title="Type in a name">
    </span>
    <hr style="width:100%", size="3", color=black> 
  </div>
  {% else %}

  <div class="header"><h1>General Equipments list</h1>
    <span>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="search here..." title="Type in a name">
    </span>
    <hr style="width:100%", size="3", color=black> 
  </div>
    
   {% endif %}
 
    {% if equipments %}
    <table style="width:100%" class="styled-table" id="myTable">
      <thead>
        <tr>
            <th>sno</th>
            <th>Name</th>
            <th>Specificaton</th>
            <th>Price</th>
            <th>Date</th>
            <th>Total Quantity</th>
            <th>Available Quantity</th>
            {%if super %}
            <th>Delete</th>
            {% endif %}
              {% if not super and isre  %}
            <th>Issue</th>
            <th>Return</th>
            {% endif %}
           
        </tr>
      </thead>
      <tbody>
      {% for equi in equipments %}
      <tr>
        <td></td>
        <td>{{equi.name}}</td>
        <td>{{equi.specification}}</td>
        <td>{{equi.price}}</td>
        <td>{{equi.date}}</td>
        <td>{{equi.total_quantity}}</td>
        <td>{{equi.available_quantity}}</td>
        {%if super%}
        <td><a href="{%url 'generaldelete' id=equi.pk %}" onclick="return confirm('Are you sure you want to delete this?')"><button class="redb" >delete</button></a></td>
        {% endif %}
          {% if not super and isre %}
        <td><a href="{% url 'generalissue' equi.pk %}"><button class="grayb">Issue</button></a></td>
        <td><a href="{% url 'generalreturn' id=equi.id %}"><button class="grayb">Return</button></td>
         {% endif %}
      </tr>
      {% endfor %}
      </tbody>
</table>
  {% else %}
  
    <p>There are no Equipments </p>
  {% endif %} 

</div>

<script src="../../static/equipment_search.js"> </script>
<script src="../../static/sidebar.js">
</script>

</body>
</html> 


