<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/style.css">
<link rel="stylesheet" type="text/css" href="../../static/sidebar.css">

</head>

<body>
 
<div class="sidenav">
    {% if gensec or super %}
    <a href="{% url 'clubsList' %}">Secys</a>
    {% endif %}

    {%if super%}
    <a href="{% url 'superindent' %}">Superindent</a>
    {% endif %}
    {% if clubs_list %}
    {% for club in clubs_list %}
   
  <button class="dropdown-btn">{{club.name}} 
    <i class="fa fa-caret-down"></i>
    </button>
   

  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
    <a href="{% url 'IssueList' club.pk %}">Issue History</a>
  </div>
  {% endfor %}   
  {% endif %}
   <button class="dropdown-btn">General items 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
     <a href="{% url 'general' %}">Register stock</a>
    <a href="{% url 'generalIssueList'   %}">Issue History</a>
  </div>
  {% if gensec %}
  <a href="{% url 'gensecissuelist' %}"> My_issues</a>
  {% endif %}
  <a href="{% url 'django_auth_adfs:logout' %}">Logout</a>
  
</div>

<div class="main">
<h1>
        General Equipments list
    </h1>
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
{% if gensec or super %}
    <a href="{% url 'addgeneral' %}" class="myButton">Add Equipments</a>
    
   {% endif %}
 
    {% if equipments %}
    <table style="width:100%" class="styled-table" id="myTable">
      <thead>
        <tr>
            <th>sno</th>
            <th>Name</th>
            <th>Specificaton</th>
            <th>Date</th>
            <th>Total Quantity</th>
            <th>Available Quantity</th>
            {%if super or gensec%}
            <th>Delete</th>
            {% endif %}
              {% if not super  %}
            <th>Issue</th>
            <th>Return</th>
            {% endif %}
           
        </tr>
      </thead>
      <tbody>
      {% for equi in equipments %}
      <tr>
        <td></td>
        <td>{{equi.name}}</td>
        <td>{{equi.specification}}</td>
        <td>{{equi.date}}</td>
        <td>{{equi.total_quantity}}</td>
        <td>{{equi.available_quantity}}</td>
        {%if super or gensec%}
        <td><a href="{%url 'generaldelete' id=equi.pk %}"><button class="redb" >delete</button></a></td>
        {% endif %}
          {% if not super  %}
        <td><a href="{% url 'generalissue' equi.pk %}"><button class="grayb">Issue</button></a></td>
        <td><a href="{% url 'generalreturn' id=equi.id %}"><button class="grayb">Return</button></td>
         {% endif %}
      </tr>
      {% endfor %}
      </tbody>
</table>
  {% else %}
  <h1>
    General Equipments list
  </h1>
    <p>There are no Equipments </p>
  {% endif %} 

</div>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    console.log(input)
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
      var tds = tr[i].getElementsByTagName("td");

    // hide the row
    tr[i].style.display = "none";

    // loop through row cells
    for (var i2 = 1; i2 < 3; i2++) {

      // if there's a match
      if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

        // show the row
        tr[i].style.display = "";

        // skip to the next row
        continue;

      }
    }
  }
}
  </script>

<script src="../../static/sidebar.js">
</script>

</body>
</html> 


