<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/sidebar.css">
<link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<body>
 
<div class="sidenav">
   
    <a href="{% url 'clubsList' %}">Secys</a>
    <a href="{% url 'superindent' %}">Superindent</a>
    {% if clubs_list %}
    {% for club in clubs_list %}
  <button class="dropdown-btn">{{club.name}} 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
    <a href="{% url 'IssueList' club.pk %}">Issue History</a>
  </div>
  {% endfor %}   
  {% endif %}
  <a href="{% url 'django_auth_adfs:logout' %}">Logout</a>
</div>

<div class="main">
  <h2>Sidebar Dropdown</h2>
  <p>Click on the dropdown button to open the dropdown menu inside the side navigation.</p>
  <p>This sidebar is of full height (100%) and always shown.</p>
  <p>Some random text..</p>
</div>

<script src="../../static/sidebar.js">
</script>

</body>
</html> 
