<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/sidebar.css">
<link rel="stylesheet" type="text/css" href="../../static/style.css">
</head>
<body>
 
<div class="sidenav">
     {% if gensec or super %}
    <a href="{% url 'clubsList' %}">Secys</a>
    {% endif %}
    {% if super%}
    <a href="{% url 'superindent' 0 %}">Pending Requests</a>
     {% endif %}
    {% if clubs_list %}
    {% for club in clubs_list %}
  <button class="dropdown-btn">{{club.name}} 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
    {% if isre %}
    <a href="{% url 'IssueList' club.pk  %}">Issue History</a>
    {% endif %}
  </div>
  {% endfor %}   
  {% endif %}
     
     {% if rem %}
    {% for club in rem %}
  <button class="dropdown-btn">{{club.name}} 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
  </div>
  {% endfor %}   
  {% endif %} 
 
  <button class="dropdown-btn">General items 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
     <a href="{% url 'general' %}">Register stock</a>
     {% if isre %}
    <a href="{% url 'generalIssueList'   %}">Issue History</a>
    {%endif%}
  </div>
  {% if gensec %}
  <a href="{% url 'gensecissuelist' %}"> My_issues</a>
  {% endif %}

   {% if super  %}
    <a href="{% url 'total_list' %}"> Total Issues </a> 
    {% endif %}
  
  <a href="{% url 'django_auth_adfs:logout' %}">Logout</a>
</div>

<div class="main">
  <h1 style="border-bottom:2px solid black">Home</h1>
</div>

<script src="../../static/sidebar.js">
</script>

</body>
</html> 
