<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/style.css">
<link rel="stylesheet" type="text/css" href="../../static/sidebar.css">

</head>
<body>
 
<div class="sidenav">
    <a href="{% url 'clubsList' %}">Secys</a>
    <a href="{% url 'superindent' %}">Superindent</a>
    {% if clubs_list %}
    {% for club in clubs_list %}
  <button class="dropdown-btn">{{club.name}} 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
    <a href="{% url 'IssueList' club.pk %}">Issue History</a>
  </div>
  {% endfor %}   
  {% endif %}
    <button class="dropdown-btn">General items 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
     <a href="{% url 'general' %}">Register stock</a>
    <a href="{% url 'generalIssueList'   %}">Issue History</a>
  </div>
  <a href="{% url 'django_auth_adfs:logout' %}">Logout</a>
</div>

<div class="main">
    <h1>
        Issue list
    </h1>
    {% if issue_list %}
    <table style="width:100%" class="styled-table">
      <thead>
        <tr>
          <th>sno</th>
          <th>student name</th>
          <th>roll number</th>
            <th>equipment Name</th>
            <th>Quantity</th>
            <th>Date of Issue</th>
            <th>Remark</th>
            <th>status</th>
            
            
        </tr>
      </thead>
      <tbody>
      {% for obj in issue_list %}
      <tr>
      <td></td>
        <td>{{obj.name}}</td>
        <td>{{obj.roll}}</td>
        {%if obj.equipment_name %}
        <td>{{obj.equipment_name}}</td>
        {%else %}
        <td>{{obj.general_equipname}}</td>
        {% endif %}
        <td>{{obj.quantity}}</td>
        <td>{{obj.date}}</td>
        <td>{{obj.remark}}</td>
        {% if obj.is_return  %}        
        {% if obj.is_pending %}
        <td>return request pending</td>
        {% else %}
        {% if obj.req%}
        <td>returned</td>
        {%else%}
        <td>return denied</td>
        {% endif %}
        {% endif %}
        {% else %}
        {% if obj.is_pending %}
        <td>issue request pending</td>
        {% else %}
        {%if obj.req%}
       <td> issued</td>
       {%else%}
       <td>issue denied</td>
       {%endif%}
        {% endif %}
        {% endif %}
      
        
      </tr>
    {% endfor %}
  </tbody>
</table>
  {% else %}
    <p>There are no Issue_Equipments </p>
  {% endif %} 
</div>



<script src="../../static/sidebar.js">
</script>



</body>
</html> 
