<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/style.css">
<link rel="stylesheet" type="text/css" href="../../static/sidebar.css">

</head>
<body>
 
<div class="sidenav">
     
    <a href="{% url 'clubsList' %}">Secys</a>
    <a href="{% url 'superindent' %}">Superindent</a>
    {% if clubs_list %}
    {% for club in clubs_list %}
  <button class="dropdown-btn">{{club.name}} 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
    <a href="{% url 'IssueList' club.pk %}">Issue History</a>
  </div>
  {% endfor %}   
  {% endif %}
     <button class="dropdown-btn">General items 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
     <a href="{% url 'general' %}">Register stock</a>
    <a href="{% url 'generalIssueList'   %}">Issue History</a>
  </div>
 <a href="{% url 'django_auth_adfs:logout' %}">Logout</a>
</div>

<div class="main">
    
    {% if iss %}
    <table style="width:100%" class="styled-table">
      <thead>
        <tr>
        <th>sno</th>
          
          <th>club</th>
          <th>club_secy</th>
            <th>equipment Name</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>status</th>
            <th>accept</th>
            <th>deny</th>
          </tr>
      </thead>
      <tbody>
      {% for obj in iss %}
      <tr>
        <tr>
        <td></td>
        <td>{{obj.club}}</td>
        <td>{{obj.secy_name}}</td>
        {%if obj.iss.equipment_name %}
        <td>{{obj.iss.equipment_name}}</td>
        {%else %}
        <td>{{obj.iss.general_equipname}}</td>
        {% endif %}
        <td>{{obj.iss.quantity}}</td>
        <td>{{obj.iss.date}}</td>
        {% if obj.iss.is_return%}
        <td>return request</td>
        {%else%}
        <td>issue request</td>
        {% endif %}
        <td><a href="{% url 'accept' obj.iss.pk %}"><button class="greenb">accept</button></td>
        <td><a href="{% url 'deny' obj.iss.pk %}"><button class="redb">deny</button></td>        
      </tr>
    {% endfor %}
  </tbody>
</table>
  {% else %}
    <p>There are no Issue_Equipments </p>
  {% endif %} 
</div>

<script src="../../static/sidebar.js">
</script>

</body>
</html> 

