<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/style.css">
<link rel="stylesheet" type="text/css" href="../../static/sidebar.css">

</head>
<body>
 
<div class="sidenav">
     
    <a href="{% url 'clubsList' %}">Secys</a>
    <a href="{% url 'superindent' %}" >Pending Requests</a>
    {% if clubs_list %}
    {% for club in clubs_list %}
  <button class="dropdown-btn">{{club.name}} 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
    <a href="{% url 'IssueList' club.pk %}">Issue History</a>
  </div>
  {% endfor %}   
  {% endif %}
     <button class="dropdown-btn">General items 
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
     <a href="{% url 'general' %}">Register stock</a>
    <a href="{% url 'generalIssueList'   %}">Issue History</a>
  </div>
 <a href="{% url 'django_auth_adfs:logout' %}">Logout</a>
</div>

<div class="main">
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
    <h1>Requests</h1>
    {% if iss %}
    <table style="width:100%" class="styled-table" id="myTable">
      <thead>
        <tr>
        <th>sno</th>
          
          <th>club</th>
          <th>club_secy</th>
            <th>equipment Name</th>
            <th>specification</th>
            <th>Quantity</th>
            <th>Date</th>
            <th>status</th>
            <th>accept</th>
            <th>deny</th>
          </tr>
      </thead>
      <tbody>
      {% for obj in iss %}
      <tr>
        
        <td></td>
        {%if obj.equipment_name %}
        <td>{{obj.equipment_name.sport}}</td>
        {%else %}
        <td>General</td>
        {% endif %}
        {% if obj.is_gen%}
        <td>General Secy</td>
        {% else %}
        <td> {{obj.user.name}} Secy    </td>
        {% endif %}
        {%if obj.equipment_name %}
        <td>{{obj.equipment_name.name}}</td>
        <td>{{obj.equipment_name.specification}}</td>
        {%else %}
        <td>{{obj.general_equipname.name}}</td>
        <td>{{obj.general_equipname.specification}}</td>
        {% endif %}
        <td>{{obj.quantity}}</td>
        <td>{{obj.date}}</td>
        {% if obj.is_return%}
        <td>return request</td>
        {%else%}
        <td>issue request</td>
        {% endif %}
        <td><a href="{% url 'accept' obj.pk %}"><button class="greenb">accept</button></td>
        <td><a href="{% url 'deny' obj.pk %}"><button class="redb">deny</button></td>        
      </tr>
    {% endfor %}
  </tbody>
</table>
  {% else %}
    <p>There are no Pending Requests </p>
  {% endif %} 
</div>
<script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    console.log(input)
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 1; i < tr.length; i++) {
      var tds = tr[i].getElementsByTagName("td");

    // hide the row
    tr[i].style.display = "none";

    // loop through row cells
    for (var i2 = 1; i2 < 5; i2++) {

      // if there's a match
      if (tds[i2].innerHTML.toUpperCase().indexOf(filter) > -1) {

        // show the row
        tr[i].style.display = "";

        // skip to the next row
        continue;

      }
    }
  }
}
  </script>
<script src="../../static/sidebar.js">
</script>

</body>
</html> 

