<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="../../static/style.css">
<link rel="stylesheet" type="text/css" href="../../static/sidebar.css">

</head>




<body>

<div class="sidenav">
 {% if gensec or super %}
    <a href="{% url 'clubsList' %}">Secys</a>
    {% endif %}
    {%if super %}
    <a href="{% url 'superindent' 0 %}">Pending Requests</a>
    {% endif %}
    {% if clubs_list %}
    {% for club in clubs_list %}
  <button class="dropdown-btn">{{club.name}}
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
    <a href="{% url 'equipmentsList' club.pk %}">Register stock</a>
    <a href="{% url 'IssueList' club.pk %}">Issue History</a>
  </div>
  {% endfor %}
  {% endif %}
    <button class="dropdown-btn">General items
    <i class="fa fa-caret-down"></i>
  </button>
  <div class="dropdown-container">
     <a href="{% url 'general' %}">Register stock</a>
    <a href="{% url 'generalIssueList'   %}">Issue History</a>
  </div>
    {% if gensec %}
  <a href="{% url 'gensecissuelist' %}"> My_issues</a>
  {% endif %}
  {% if super  %}
    <a href="{% url 'total_list' %}"> Total Issues </a> 
    {% endif %}
  <a href="{% url 'django_auth_adfs:logout' %}">Logout</a>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


<div class="main">

  <div class="header"><h1>Issue History</h1>
    <span>
    <select id="location-select" name="locationselect">
      <option value="">All</option>
      <option value="issued">Issued</option>
        <option value="issue denied">Issue denied</option>
      <option value="returned">Returned</option>
     
      <option value="return denied">Return denied</option>
      <option value="issue request pending">Issue request pending</option>
      <option value="return request pending">Return request pending</option>
    </select>
  
    <input type="text" id="myInput" onkeyup="myFunction()" placeholder="search here..." title="Type in a name">
    </span>
    <hr style="width:100%", size="3", color=black> 
  </div>

  
    {% if issue_list %}
    <table style="width:100%" class="styled-table" id="myTable" >
      <thead>
        <tr>
          <th>sno</th>
          <th>Id</th>
          {%if not super%}
          <th>student name</th>
          <th>roll number</th>
           {% endif %}
            <th>equipment Name</th>
            <th>specification</th>
            <th>Quantity</th>
            <th>Date of Issue/Return</th>
            <th>Issued To </th>
            <th>Remark</th>
            <th>status</th>

        </tr>
      </thead>
      <tbody>
      {% for obj in issue_list %}
      <tr>
       <td></td>
       <td>{{obj.pk}}</td>
        {% if not super%}
        <td>{{obj.name}}</td>
        <td>{{obj.roll}}</td>
         {% endif %}
        {%if obj.equipment_name %}
        <td>{{obj.equipment_name.name}}</td>
        <td>{{obj.equipment_name.specification}}</td>
        {%else %}
        <td>{{obj.general_equipname.name}}</td>
        <td>{{obj.general_equipname.specification}}
        {% endif %}

        <td>{{obj.quantity}}</td>
        <td>{{obj.date}}</td>
        {% if obj.is_gen%}
        <td>Gen secy</td>
        {%else%}
        <td>{{ obj.user.name }} Club secy</td>
        {% endif %}
        <td>{{obj.remark}}</td>
        {% if obj.is_return  %}
        {% if obj.is_pending %}
         <td class="pendingyellow">return request pending</td>
        {% else %}
        {% if obj.req%}
           <td class="acceptgreen">returned</td>
        {%else%}
       <td class="deniedred">return denied</td>
        {% endif %}
        {% endif %}
        {% else %}
        {% if obj.is_pending %}
        <td class="pendingyellow">issue request pending</td>
        {% else %}
        {%if obj.req%}
        <td class="acceptgreen">issued</td>
       {%else%}
      <td class="deniedred">issue denied</td>
       {%endif%}
        {% endif %}
        {% endif %}


      </tr>
    {% endfor %}
  </tbody>
</table>
  {% else %}
    <p>There are no Issue_Equipments </p>
  {% endif %}
</div>


 {% if not super %}
<script src="../../static/issue_list_search.js">
  </script>
{% else %}
<script src="../../static/issue_list_superindent_search.js">
 </script>
{% endif %}

<script src="../../static/sidebar.js">
</script>

</body>
</html>
